.btn.btn-rounded {
    border-radius: 50px;
}

.prefix-icon i {
	margin-right: .5em;
}

.table {
	display: table;
}
.tr {
	display: table-row;
}
.td {
	display: table-cell;
}
.th {
	display: table-cell;
	font-weight: bold;
}

.tfoot {
	display: table-footer-group;
}
.thead {
	display: table-header-group;
}
.tbody {
	display: table-row-group;
}