.btn.btn-rounded {
    border-radius: 50px;
}

.prefix-icon i {
	padding-right: .5em;
}

.table {
	display: table;
}
.tr {
	display: table-row;
}

.tfoot {
	display: table-footer-group;
}
.thead {
	display: table-header-group;
}
.tbody {
	display: table-row-group;
}